* {
  margin: 0;
}

/* Header Styles */

.navbar {
  color: white;
  margin: 0 10px;
  text-decoration: none
}

.header {
  background-color: #AA3939;
  width: 100vw;
  height: 4.3em;
  padding-top: 12px;
}
.header-icons {
  float: right;
}
i {
  font-size: 30px;
  padding: 0 10px;
  color: white;
  float: center;
}

.name {
  color: white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

/* Footer Styles */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #AA3939;
  width: 100%;
  height: 4em; 
  
}