/*Google Fonts*/
@import url("https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text|Zilla+Slab+Highlight|Stardos+Stencil|Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/* break points: 768px (mobile friendly) 769-1023px (tablets) 124-1439px (laptop, desktop) */
/* add display: flex & flex-direction: column for @media screen */
* {
  margin: 0;
}

/* Header Styles */
.nav-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.nav-container a {
  padding: 15px 20px;
  color: whitesmoke;
  font-size: 30px;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .nav-container A {
    font-size: 20px;
  }
}

.nav-container a:hover {
  color: #8B8585;
}

.nav-container a:active {
  color: black
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: 	#0000;
  padding: 10px 5px;
}

.header-container a:hover {
  color: #8B8585;
}

.logoW {
  width: 300px;
}

@media only screen and (max-width: 767px) {
  .logoW {
    width: 150px
  }

}

/* header icons */
.header-icons {
  float: right;
  display: flex;
  padding: 0;
}

.header-icons a {
  font-size: 30px;
  padding: 5px 25px 0 5px;
  color: whitesmoke;
  float: center;
  margin-top: 4px;
  list-style: none;
}
@media only screen and (max-width: 767px) {
  .header-icons a {
    font-size: 20px;
    padding: 0 10px;
  }
}

/* Main Styles */
.container {
  height: auto !important;
  min-height: 100vh;
}


.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container p {
  max-width: 70vw;
  text-align: justify;
  padding: 0;

}

.projects-container li:last-child {
  padding-bottom: 40px;
}

.container p {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;

}

.resume {
  height: 30%;
  width: 60%;
  padding: 10px;
}

.resume-title {
  padding: 1.5em 10px 10px 10px;
}

.resume-download {
  font-size: 4em;
  padding: 0 0 0 15px;
  color: white;
}

h1 {
  font-size: 2.5em;
  margin-left: 48px;
  font-family: "Open+Sans";
  color: whitesmoke;
}
@media only screen and (max-width: 767px) {
  h1 {
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
  }
}



.container h3 {
  padding: 1.5em 20% 15px 20%;
  font-size: 2em;
  font-family: "Open+Sans";
  color: whitesmoke;
}

p {
  font-size: 20px;
  padding: 0.9em 1.5em;
  text-indent: 1.5em;
  line-height: 21px;
  color: whitesmoke;
  font-family: "Open+Sans";
}

a {
  text-decoration: none;
}

.gif {
  padding: 15px
}
.size {
  max-width: 70vw;
}

.projects-logo {
  padding-left: 5em;
}

.projects {
  padding: .5em 0 .3em 0;
  text-align: center;
  margin: 0;
  font-size: 2.5em;
  font-family: "Open+Sans";
  color: whitesmoke;
}

.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

h3 {
  color: whitesmoke;
  max-width: 65vw;
  text-align: center;
}

h4 {
  font-size: 18px;
  font-family: "Open+Sans";
  color: #000
}

.skills {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .skills {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }
}


h5 {
  font-size: 16px;
  text-indent: 1.5em;
  line-height: 21px;
  color: whitesmoke;
  font-family: "Open+Sans";
}

h6 {
  padding: .5em 0 20px 0;
  font-size: 5em;
  font-family: "Open+Sans";
  color: whitesmoke;
}

@media only screen and (max-width: 767px) {
  h6 {
    text-align: center;
    font-size: 3.5em;

  }
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
}
.icons {
  height: auto;
  width: auto;
  padding: 10px
}

@media only screen and (max-width: 767px) {
  .icons img{
    width: 110px;
    height: auto;
    padding: 20px;
  }
}
.head-shot {
  display: flex;
  float: right;
  margin: 1.2em;
  margin-right: 3.5em;
}

.head-shot img {
  width: 100%;
  max-width: 100%;

}

@media only screen and (max-width: 767px){
  .head-shot {
    margin: 0;
    margin-right: 0;
    float: none;
    justify-content: center;
  }
}

br {
  margin-bottom: 1em;
}

/* Footer Styles */
.footer {
  left: 0;
  bottom: 0;
  background-color: #0000;
  width: 100vw;
  height: 4em;
}

.app-container {
  background: radial-gradient(#8B8585,#000000)
}

.logoN {
  float: right;
}