/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text|Zilla+Slab+Highlight|Stardos+Stencil');

/*fonts to consider
Gochi Hand - p
Viga - p
Signika+Negative - p
Do Hyeon - p
Boogaloo - p*
Rock Salt - p*
Caveat Brush - p*
Chewy - p*
Coustard - p*
Skranji - p*
Stardos Stencil - p*
Overpass Mono - p*
Port Lligat Sans - p*
Kosugi - p*
IM Fell DW (or just Double) Pica SC - p*
Zilla Slab Highlight - h1*
Permanent Marker - h1*
*/

* {
  margin: 0;
}

/* Header Styles */
.navbar {
  color: white;
  margin: 0 10px;
  text-decoration: none
}

.header {
  background-color: #73000B;
  width: 100vw;
  height: 3.5em;
  padding: 7px 5px;
  position: fixed;
}

.logoW {
  padding: 0;
  margin: -17px 0 0 5px;
}

/* header icons */
.header-icons {
  float: right;
  margin-top: 10px;
  margin-right: 20px
}

i {
  font-size: 30px;
  padding: 0 10px 0 10px;
  color: white;
  float: center;
  margin-top: 4px;
}

/* Main Styles */
.main-body {
  background-color: #A2A3A4;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-container {
  background-color: #A2A3A4;
  padding-bottom: 4em;
  padding-left: .5em
}

.projects-container h1 {
  padding: 1.5em 0 0 20px;
  font-size: 4em;
  font-family: 'Libre Barcode 128 Text', 'Zilla Slab Highlight';
}

.projects-container p {
  font-size: 20px;
  line-height: 21px;
  padding: 1em 0 1em 20px;
  width: 70%;
  color: white;
  font-family: 'Stardos Stencils', sans-serif;
}

.gif-videos {
  padding: 10px 0 0 0px;
}

img {
  padding-left: 1.5em;
}



/* Footer Styles */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #73000B;
  width: 100vw;
  height: 4.1em; 
}

.logoN {
  float: right;
  margin: -.5em 1.3em 0 0;
}